body{
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive; */
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 30px;
}

img{
    max-width: 100%;
}

h6{
    font-size: 14px;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.top-menu{
    background-color: #222222;
    display: flex;
    color: rgb(82, 82, 82);
    height: 50px;
}
  
.top-menu-text{
    width: 50%;
    padding:0 28px;
}

.top-menu-text p{
   line-height: 50px;
}

.top-menu-setting{
    width: 50%;
    text-align: right;
    padding-right: 28px;
}

.top-menu-setting a{
    color: rgb(82, 82, 82); 
    padding-left: 15px;
    line-height: 50px;
}

.header{
    display: flex;
    padding:0 30px 0 28px;
    margin-top: 18px;
    border-bottom: 1px solid #dddddd;
}

.header-logo{
    width: 20%;
}

.header-logo img{
    width: 54%;
}

.header-menu{
    width: 60%;
}

.menu-list{
    display: none;
}

.header-menu ul{
    display: flex;
    padding: 0;
    justify-content: center;
}

.header-menu ul li:first-child{
    padding-left: 0;
}

.menu ul li{
    list-style: none;
    padding-left: 55px;
    font-weight: bold;
    line-height: 35px;
}

.header-menu ul li a{
    color: #222222;
    font-weight: bold;
    text-decoration: none;
}

.header-menu ul li a:hover{
    color: #8a6cba;
}

.header-search i{
    color: #222222;
}

.header-search i:hover{
    color: #8a6cba;
}

.header-link{
    width: 20%;
    text-align: right;
}

.header-link i{
    padding-left: 24px;
    font-size: 30px;
    line-height: 40px;
    color: rgb(66, 66, 66);
}

/* ----------------------------------------------------------------------------------------------------- */
section{
    margin: 0 auto
}
.banner {
    padding: 37px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 750px 360px;
    grid-gap: 30px;
    grid-template-areas: "card1 card2" 
                         "card1 card3";
}

.banner1:nth-child(1) {
grid-area: card1;
}

.banner2:nth-child(2) {
grid-area: card2;
}

.banner3:nth-child(3) {
grid-area: card3;
}


.banner1{
    position: relative;
    
}
.banner1-text{
    position: absolute;
    top: 310px;
    left: 0;
    right: 95px;
    bottom: 0;
    text-align: right;
}

.banner1-text h6{
    font-size: 30px;
    line-height: 54px;
    font-family: "Pacifico";
    color: rgb(0, 0, 0);
}

.banner1-text a{
    background-color: #8a6cba;
    color: #ffffff;
    border: none;
    padding: 11px 16px;
    color: #ffffff;
    text-decoration: none;
}  
.banner1-text a:hover {
    background-color: #000;
}
.banner3{
    position: relative;
    
}
.banner3-text{
    position: absolute;
    top: 76px;
    left: 25px;
    right: 0;
    bottom: 0;
    padding: 30% 0 0 5%;
}

.banner3-text a{
    border: 1px solid #8a6cba;
    background-color: #8a6cba;
    padding: 11px 17px;
    color: #ffffff;
    text-decoration: none;
}
.banner3-text a:hover {
    background-color: #000;
    border-color: #000;
}

/* --------------CONTENT-------------------------------------------------------------------------------------------------------- */

.content{
    margin: 0 auto;
    padding: 31px 0;
}

.content-title p {
    font-size: 12px;
    letter-spacing: 1.2px;
    color: rgb(130, 98, 181);
    font-weight: bold;
    text-align: left;
}
  
.content-title h3 {
    text-align: left;
    line-height: 5px;
    letter-spacing: 2.2px;
}

.content-title hr{
    background-color: rgb(66, 66, 66);
    width: 50px;
    margin: 35px 0 50px 0;
    
}
.card{
    border: none;
    border-radius: none;
    position: relative;
}

.card a.card-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card a.card-link:hover{
    background-color: #8a6cba;
    opacity: 0.15;
}

.card-img{
    position: relative; 
    overflow: hidden;
}

.add-card{
    position: absolute;
    left: 5px;
    bottom: -15px;
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(66, 66, 66);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
}
.card:hover .add-card {
    opacity: 1;
    visibility: visible;
    bottom: 5px;
}
.add-card a{
    color: rgb(66, 66, 66);
    border: 1px solid rgb(66, 66, 66);
    background-color: #ffffff;
    padding: 4px 17px;
}  


.add-card a:hover{
    color: #8362ba;
    text-decoration: none;
}  

.card-body{
    padding: 16px 0;
    padding-bottom: 31px;
}

.card-body h6{
    margin-bottom: 4px;
}

.card-body h6:hover{
    color: #8a6cba;
}

.card-body i{
    color: #f8bf15;
}

.card-body p{
    line-height: 18px;
}

.card-body p del{
    color: rgb(66, 66, 66);
}

strong{
    color: #8a6cba;
}
  

/* ----------BANNER4-------------------------------------------------------------------------------- */
.banner4{
    position: relative;
}

.banner4-img img{
    background-size: cover;
    height: 708px;
}

.banner4-content{
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 70px 0 50px 0;
}

.banner4-title p {
    font-size: 12px;
    letter-spacing: 1px;
    color: rgb(130, 98, 181);
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.banner4-title h3 {
    line-height: 5px;
    letter-spacing: 2.5px;
    text-align: center;
}

.banner4-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 78px;
    
    /* margin-right: -15px;
    margin-left: -15px; */
}

.banner4-col{
    width: 33.33%;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    
}

.banner4-card{
    position: relative;
}

.banner4-card a.banner4-col-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.banner4-card a:hover{
    background-color: #8a6cba;
    opacity: 0.15;
}

.banner4-col:first-child{
    padding-left: 0;
}

.banner4-col:last-child{
    padding-right: 0;
}

.banner4-card-img:hover{
    background-color: #8a6cba;
}

.banner4-card-body{
    background-color: #ffffff;
    padding: 16px 19px;
}

.car-body-text h6 {
    font-size: 16px;
    color: rgb(0, 0, 0);
}
  
.car-body-text h6:hover {
    color: #8a6cba;
}

.car-body-text p{
    padding-top: 8px;
    line-height: 23px;
}

.card-bottom{
    border-top: 1px solid rgb(136, 136, 136);
    color: rgb(136, 136, 136);
}

.card-bottom i{
    padding-right: 30px;
    padding-top: 17px;
}

.slick-dots li button:before {
    font-size: 15px;
    line-height: 20px;
    top: 15px;
    color: #8a6cba;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #8a6cba;
}


.slick-slide{
    width: 387px;
}
/* ------------FOOTER--------------------------------------------------------------------------------------- */

footer{
    background-color: #222222;
}

.footer{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.footer hr{
    margin-bottom: 3px;
}

.footer-content{
    display: flex;
    padding: 8px 0;
    line-height: 23px;
    color: rgb(136, 136, 136);
    border-bottom: 1px solid rgb(136, 136, 136);
}

.footer-content h6{
    color: #ffffff;
    border-bottom: 1px solid rgb(136, 136, 136);
    padding-bottom: 30px;
    font-size: 16px;
}

.footer-about{
    width: 30%;
    padding: 50px 0 30px 0;
    /* border: 1px solid salmon; */
}

.footer-about p {
    /* color: rgb(136, 136, 136); */
    text-align: left;
    padding-right: 50px;
    line-height: 1.571;
    text-align: left;
}
  
.footer-about-link{
    padding-top: 26px;
}

.footer-about-link a{
    padding-right: 28px;
    color: rgb(136, 136, 136);
    font-size: 16px;
}

.footer-about-link a:hover{
    color: white;
}

.footer-nav{
    width: 47%;
    padding: 50px 47px 0;
    /* border: 1px solid greenyellow; */
}

.footer-menu{
    width: 88%;
    display: flex;
}

.footer-menu ul{
    padding: 0;
    width: 50%;
}

.footer-menu ul li{
    list-style: none;
    line-height: 29px;
}

.footer-menu ul li a{
    list-style: none;
    color: rgb(136, 136, 136);
}

.footer-menu ul li a:hover{
    color: white;
    text-decoration: underline;

}

.footer-location{
    width: 20%;
    padding: 50px 0 50px 0;
    /* border: 1px solid salmon; */
}

.footer-location a{
    color: rgb(136, 136, 136);
    padding-left: 12px;
}

.footer-location a:hover{
    color: white;
    text-decoration: underline;
}

.footer-bottom{
    display: flex;
    color: rgb(136, 136, 136);
    padding: 20px 0 50px 0;

}
.footer-text{
    width: 50%;
}

.footer-text i{
    color: red;
}

.footer-pay{
    width: 50%;
    text-align: right;
}

.footer-pay a{
    font-size: 22px;
    padding-left: 3px;
    color: rgb(136, 136, 136);
}

.footer-pay a:hover{
    color: #ffffff;
}






/* --------------------------------------------------------------------------------------------------------------- */

@media (min-width:824px) and (max-width:1024px) {

    .top-menu{
        font-size: 12px;
    }

    .header-logo{
        width: 20%;
    }

    .header-logo img{
        width: 55%;
    }

    .header-menu ul li{
        list-style: none;
        padding-left: 15px;
        font-weight: bold;
        font-size: 12px;
    }

    .header-search{
        padding-left: 10px;
    }

    .header-link i{
        font-size: 25px;
    }

    .banner {
        grid-template-columns: 632px 310px;
        grid-gap: 15px;
    }

    .banner1-text{
        top: 262px;
    }

    .banner1-text h6{
        font-size: 26px;
    }

    .banner1-text a{
        padding: 8px 12px;
    }

    .banner3-text{
        top: 65px;
        left: 19px;
    }

    .banner3-text a{
        padding: 7px;
    }

    .content-title h3{
        font-size: 20px;
    }
    h6{
        font-size: 14px;
    }

    .add-card a {
        font-size: 10px;
        padding: 0px 3px 0px 5px;
    }

    .footer{
        font-size: 12px;
    }
}
@media(max-width:991px) {
    .banner {
        display: block;
    }
    .banner3 img,
    .banner2 img  {
        width: 100%;
    }
}
@media (min-width:568px) and (max-width:768px) {

    .top-menu{
        font-size: 10px;
        height: 30px;
    }

    .top-menu-text p,
    .top-menu-setting a{
        line-height: 30px;
    }

    .header-logo{
        width: 20%;
    }

    .header-logo img{
        width: 60%;
    }


    .header-search{
        padding-left: 10px;
    }

    .banner {
        grid-template-columns: 474px 230px;
        grid-gap: 15px;
    }

    .banner1-text{
        top: 202px;
        left: 0;
        right: 60px;
        bottom: 0;
    }

    .banner1-text h6 {
        font-size: 21px;
        line-height: 28px;
    }

    .banner1-text a,
    .banner3-text a{
        font-size: 12px;
        padding: 5px;
    }

    .banner3-text{
        top: 42px;
        left: 15px;
    }

    h3{
        font-size: 20px;
    }

    .header-menu{
        width: 70%;
    }

    .header-menu ul li{
        font-size: 11px;
        padding-left: 11px;
    }
    
    .header-search{
        width: 5%;
    }

    .header-link{
        width: 12%;
    }

    .header-link i {
        padding-left: 15px;
        font-size: 20px;
    }

    .add-card{
        font-size: 10px;
    }

    .add-card a{
        padding: 0 3px 0 3px;
    }

    .card-body{
        font-size: 12px;
    }

    .car-body-text h6 {
        font-size: 12px;
    }

    .banner4-img img{
        height: 570px;
    }

    .banner4-content{
        padding-top: 50px;
    }

    .banner4-row{
        padding-top: 60px;
    }

    .banner4-card-body{
        font-size: 11px;
        padding: 10px;
    }

    .footer-content{
        display: block;
        width: 100%;
    }

    .footer-about,
    .footer-nav,
    .footer-location{
        width: 100%;
    }

    .footer-nav{
        padding: 0;
    }
}


@media (min-width:320px) and (max-width:525px){

    .top-menu{
        font-size: 10px;
        line-height: 20px;
    }

    .top-menu-text p,
    .top-menu-setting a{
        line-height: 25px;
    }

    .header{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .banner img{
        padding-bottom: 15px;
    }

    .header-logo{
        width: 50%;
    }

    .header-logo img {
        width: 100%;
    }

    .header-menu {
        width: 100%;
        text-align: right;
        position: relative;
        display: inline-block;
    }
    
    .header-menu i {
        color: #414141;
    }

    .menu-list {
        color: white;
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .header-menu ul{
        display: block;
    }

    .menu ul li a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .menu a:hover {
        background-color: #ddd;
    }

    .header-menu:hover .menu {
        display: block;
    }

    .header-link{
        display: flex;
        text-align: left;
    }

    .header-link i {
        font-size: 20px;
        padding-left: 0;
        padding-right: 15px;
    }

    .banner {
        width: 80%;
        display: block;
    }

    .banner1-text{
        top: 150px;
        right: 42px;
    }

    .banner1-text h6{
        font-size: 15px;
        line-height: 12px;
    }

    .banner1-text a,
    .banner3-text a{
        font-size: 12px;
        padding: 3px;
    }

    .banner3-text{
        top: 58px;
        left: 20px;
    }

    h3{
        font-size: 20px;
    }

    .content,
    .banner4-content,
    .footer{
        width: 80%;
    }

    .col{
        flex-grow: 2;
        max-width: 50%;
        flex-basis: auto;
    }

    .card-img img{
        width: 100%;
    }

    .add-card a{
        padding: 2px;
        font-size: 10px;
    }

    .card-body{
        font-size: 12px;
    }

    .card-body h6{
        font-size: 12px;
    }

    .banner4-img img {
        height: 1415px;
    }

    .banner4-row{
        display: block;
    }

    .banner4-col{
        width: 100%;
        padding: 0 0 15px 0;
    }


    .car-body-text h6{
        font-size: 13px;
    }

    .car-body-text{
        font-size: 10px;
    }

    .card-bottom i{
        font-size: 13px;
    }

    .footer-content,
    .footer-bottom{
        display: block;
    }

    .footer-about,
    .footer-nav,
    .footer-menu,
    .footer-location,
    .footer-text,
    .footer-pay{
        width: 100%;
    }

    .footer-nav{
        padding: 0;
    }

    .footer h6{
        font-size: 15px;
    }
}


/* .header-menu {
    width: 50%;
    position: relative;
    display: inline-block;
    }

    .header-menu i {
        color: #414141;
    }

    .menu-list {
        color: white;
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .header-menu ul{
        display: block;
    }

    .menu ul li a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .menu a:hover {
        background-color: #ddd;
    }

    .header-menu:hover .menu {
        display: block;
    } */